<!doctype html>
<html lang="en">
<style>
    h1
    {
        font-family: "Arial Black";
        font-size: 50px;
        text-align: center;
        color: yellow;
        background-color:brown;
        padding: 20px;
    }
</style>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>student page</title>
  </head>
  <body>
    <h1>Online Course Registration</h1>
    <table align="center" border="0">
    <tr><th style="font-size: 25px;font-family: 'Arial Black';color: maroon;padding: 5px">Python With Naveen</th></tr>
    </table>
      <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'view_entrol' %}?u1={{ naga.contactno }}">View all the Entrol courses</a></li>

      <li class="breadcrumb-item"><a href="{% url 'login' %}">Logout</a></li>

  </ol>
      </nav>
          Welcome To mr/miss:   {{ naga.sname }}
    <h3 style="text-align: center;color: yellow;background-color: red">entrol course</h3>

    <style>
        #view
        {
            font-size: 15px;
            font-family: "Arial Black";
            color: brown;
            padding: 5px;
            text-align: center;
        }
    .tabl
    {
        background-color: yellow;
    }
    .result
    {
        background-color: green;
    }
    </style>
    <table align="center" border="2">
        <tr><th colspan="8" id="view">Courses</th></tr>
        <tr>
            <th class="tabl">Name</th>
            <th class="tabl">Faculty</th>
            <th class="tabl">Date</th>
            <th class="tabl">Time</th>
            <th class="tabl">Fee</th>
            <th class="tabl">Duration</th>
            <th class="tabl">Entrol</th>
        </tr>
    {% for x in result %}
                <tr>
                    <th class="result">{{ x.name }}</th>
                    <th class="result">{{ x.faculty }}</th>
                    <th class="result">{{ x.date }}</th>
                    <th class="result">{{ x.time }}</th>
                    <th class="result">{{ x.fee }}</th>
                    <th class="result">{{ x.duration }}</th>
                    <th class="result"><a href="{% url 'entrol' %}?s1={{x.coid  }}&s2={{ naga.contactno }}">yes</a></th>
                </tr>
    {% endfor %}

</table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
   </body>
</html>
