{% extends 'admin_common.html' %}
{% block siddu %}
    {% load static %}
    <style>
        #view
        {
            font-size: 25px;
            font-family: "Arial Black";
            color: brown;
            padding: 15px;
            text-align: center;
        }
    .tabl
    {
        background-color: yellow;
    }
    .result
    {
        background-color: green;
    }
    </style>
    <table align="center" border="1">
        <tr><th colspan="9" id="view">View all Courses</th></tr>
        <tr>
            <th class="tabl">CourseId</th>
            <th class="tabl">Name</th>
            <th class="tabl">Faculty</th>
            <th class="tabl">Date</th>
            <th class="tabl">Time</th>
            <th class="tabl">Fee</th>
            <th class="tabl">Duration</th>
            <th class="tabl">Upadate</th>
            <th class="tabl">Delete</th>
        </tr>
    {% for x in data %}
                <tr>
                    <th class="result">{{ x.coid }}</th>
                    <th class="result">{{ x.name }}</th>
                    <th class="result">{{ x.faculty }}</th>
                    <th class="result">{{ x.date }}</th>
                    <th class="result">{{ x.time }}</th>
                    <th class="result">{{ x.fee }}</th>
                    <th class="result">{{ x.duration }}</th>

                    <th>
                        <form action="{% url 'show_update' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="t1" value="{{ x.name }}">
                        <button type="submit">Update</button>
                        </form>
                    </th>
                <th style="background-color: crimson">
                    <a href="{% url 'delete' %}?name={{ x.name }}">
                    <center><img src="{% static 'images/delete.png' %}" width="20"></center>
                    </a>
                </th>
                </tr>
                    {% endfor %}
    </table>
{% endblock %}